<div class="container my-5" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4 text-center">Alpha Blog</h1>
        <p class="lead text-center">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <div class="d-grid gap-2 col-6 mx-auto">
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg col-6 text-center signup-btn" %>
        </div>
    </div>
</div>